* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  background-color: white;
  /* display: flex; */
}

.pointer {
  cursor: pointer;
  outline: none;
}

.container {
  /* border: solid aqua 4px; */
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* MENU BAR */

.menu-bar {
  width: 100%;
  height: 35px;
  display: inline-flex;
  margin: 10px 10px;
}

.menu-icon {
  justify-content: center;
  width: 50px;
  display: flex;
  align-items: center;
}
.menu-img {
  background-color: transparent;
  border-color: transparent;
  width: 25px;
  border-radius: 50%;
  background-image: url(/menu-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  outline: none;
}
.logo {
  width: 300px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 90px;
  padding-left: 10px;
  cursor: pointer;
}
.search-bar {
  width: 700px;
  display: flex;
  justify-content: center;
}

.left-padding {
  padding-left: 30px;
}
.search-bar .border-color {
  border-color: rgba(137, 164, 255, 0.651);
  outline-color: rgb(126, 126, 126);
  outline-width: thin;
  opacity: 0.75;
}

::placeholder {
  padding-left: 5px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}

.search-bar .btn {
  width: 70px;

  margin-left: -40px;
  background-image: url(/find-icon.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 3px;
  outline: none;
  border-color: rgb(180, 180, 180);
  background-size: 40%;
  z-index: 2;
}

.search-bar .btn-mic {
  width: 30px;
  background-color: transparent;
  background-image: url(/microphone.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  outline: none;
  border-color: transparent;
  opacity: 0.6;
}
.icons {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  opacity: 0.6;
}

.camera {
  background-image: url(/video-camera.svg);
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border-color: transparent;
}

.dots {
  background-image: url(/dots-menu.svg);
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-color: transparent;
  border-color: transparent;
}

.notification {
  background-image: url(/notification.svg);
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: transparent;
  border-color: transparent;
}

.acct {
  width: 40px;
  height: auto;
  font-size: 20px;
  font-family: Roboto;
  border-radius: 50%;
  background-color: rgb(180, 13, 180);
  color: white;
  border-color: transparent;
}

/* CONTAINER VIDEO AND SUGGESTIONS */

.container-video-suggestions {
  display: flex;
  /* border: solid red 3px; */
  width: 100%;
  height: 600px;
}

/* VIDEO  */

.center-container {
  margin-top: 40px;
  width: 65%;
  height: 90%;
  /* border: solid black 3px; */
  margin-left: 50px;
}

/* SUGGESTIONS  */

.sidebar {
  margin-left: 40px;
  margin-right: 30px;
  border: solid 1px;
  border-color: rgb(180, 180, 180);
  margin-top: 40px;
  height: 90%;
  width: 30%;
  overflow: scroll;
  display: flexbox;
  overflow-x: hidden;
}
.suggestion {
  display: inline-flex;
  margin-top: 10px;
  padding-top: 10px;
  background-color: rgba(228, 228, 228, 0.3);
  height: fit-content;
}
.video-thumbnail img {
  margin-left: 30px;
  width: 100px;
  height: 60px;
}

.video-title {
  font-weight: 500;
  font-family: sans-serif;
  padding-left: 10px;
  padding-right: 50px;
}

/* GENERAL CONTAINER  */

.container-general {
  /* border: solid black 3px; */
  width: 100%;
  height: 600px;
  display: flex;
}

.video-info {
  margin-top: -30px;
  width: 100%;
  height: 20%;
  /* border: solid black 3px; */
  display: block;
}

.track-name {
  font-weight: bold;
  letter-spacing: 0.1em;
}

.info {
  width: 99%;
  display: flex;
  justify-content: space-between;
  text-align: right;
  /* border: black solid 2px; */
}

.date {
  margin-top: 15px;
  text-align: left;
  /* border: black solid 2px; */
  width: 50%;
}

.share {
  justify-content: flex-end;
  /* border: red solid 2px; */
  width: 100%;
  opacity: 0.6;
}

.thumbs-up {
  width: 40px;
  height: 30px;
  background-image: url(/thumbs-up.svg);
  background-color: transparent;
  border-color: transparent;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
  justify-items: baseline;
  opacity: 0.6;
}
.thumbs-down {
  width: 40px;
  height: 30px;
  background-image: url(/thumbs-down.svg);
  background-color: transparent;
  border-color: transparent;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.right-arrow {
  width: 40px;
  height: 30px;
  background-image: url(/right-arrow.svg);
  background-color: transparent;
  border-color: transparent;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.save {
  width: 40px;
  height: 30px;
  background-image: url(/save-icon.png);
  background-color: transparent;
  border-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  /* opacity: 0.6; */
}

.dots {
  width: 40px;
  height: 30px;
  background-image: url(/dots.svg);
  background-color: transparent;
  border-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  /* opacity: 0.6; */
}

.description {
  margin-top: 10px;
  padding-top: 10px;
  height: 200px;
  width: 100%;
  border: solid black 3px;
}
